.nav-container {
  width: 50%;
  margin: 5px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-radius: 5px;
  margin-left: 5px;
  border: 2px solid #C74B72;
}

li a {
  display: block;
  color: #C74B72;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #C74B72;
  color: white;
}

.active {
  background-color: #FFD783;
}
